@using TamoCRM.Core
@using TamoCRM.Domain.Collectors
@using TamoCRM.Domain.SourceTypes
@model TamoCRM.Web.Mvc.Areas.Admin.Models.Reports.BC09Model
@{
    ViewBag.Title = "Báo cáo tình trạng kết nối của Contact L1";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    List<SourceTypeInfo> sourceTypes = ViewBag.SourceTypes;
    if (sourceTypes != null)
    {
        sourceTypes = sourceTypes.Where(c => c.SourceTypeId == (int)SourceType.CC || c.SourceTypeId == (int)SourceType.MO).ToList();
        sourceTypes.RemoveAll(c => c.SourceTypeId == 0);
        sourceTypes.Insert(0, new SourceTypeInfo { SourceTypeId = 0, Name = "Tất cả" });
    }
    var lstSourceTypes = new SelectList(sourceTypes, "SourceTypeId", "Name");

    // User
    List<CollectorInfo> collectors = ViewBag.Collectors;
    if (collectors != null)
    {
        collectors.RemoveAll(c => c.CollectorId == 0);
        collectors.Insert(0, new CollectorInfo { CollectorId = 0, Name = "Tất cả" });
    }
    var lstCollectors = new SelectList(collectors, "CollectorId", "Name");
}
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed');
        } catch (e) { }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="#">Trang chủ</a>
        </li>

        <li>
            <a href="javascript:void(0);">Danh mục</a>
        </li>
        <li class="active">Báo cáo</li>
    </ul>
</div>

<div class="page-content">
    <div class="page-header">
        <h1>Báo cáo tình trạng kết nối của Contact L1</h1>
    </div>
    <!-- /.page-header -->



    <div class="row">
        <div class="form-group">
            <div class="col-sm-12" id="alert">
            </div>
        </div>
        <div class="col-xs-12">
            @using (Ajax.BeginForm("BC09", "Report", new AjaxOptions { HttpMethod = "POST" }, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form", id = "uploadexcelform" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-xs-1" style="width: 5%;">
                        Nguồn
                    </div>
                    <div class="col-xs-2">
                        <div class="clearfix">
                            @Html.DropDownList("SourceTypeId", lstSourceTypes, new { @style = "width: 100%" })
                        </div>
                    </div>
                    <div class="col-xs-1" style="width: 9%;">
                        Người nhập
                    </div>
                    <div class="col-xs-2">
                        <div class="clearfix">
                            @Html.DropDownList("UserId", lstCollectors, new { @style = "width: 100%" })
                        </div>
                    </div>
                    <div class="col-xs-1" style="width: 7%;">
                        Từ ngày
                    </div>
                    <div class="col-xs-2">
                        <div class="clearfix">
                            @Html.TextBox("FromDate", string.Empty, new { @style = "width: 100%" })
                        </div>
                    </div>
                    <div class="col-xs-1" style="width: 8%;">
                        Đến ngày
                    </div>
                    <div class="col-xs-2">
                        <div class="clearfix">
                            @Html.TextBox("ToDate", string.Empty, new { @style = "width: 100%" })
                        </div>
                    </div>
                </div>
                <div class="space-2"></div>
                <hr />
                <div class="space-2"></div>
                <button type="button" class="btn-import btn-primary" id="btnReport" style="margin-right: 6px;">Xuất báo cáo</button>
                <button type="button" class="btn-import btn-primary" id="btnSave">Tải về</button>
                <div class="clearfix"></div>
            }

            <div class="space-6"></div>
            <div id="mydiv">
                <iframe id="frame" style="width: 100%; height: 400px; border: none;"></iframe>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.page-content -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#ToDate").datepicker({ format: 'dd/mm/yyyy', autoclose: true, dateonly: true, endDate: "+0d" });
        $("#FromDate").datepicker({ format: 'dd/mm/yyyy', autoclose: true, dateonly: true, endDate: "+0d" });

        $("#btnReport").click(function (e) {
            e.preventDefault();
            var userId = $('#UserId').val();
            var sourceTypeId = $('#SourceTypeId').val();
            var toDate = $("#ToDate").val().replaceAll('/', '');
            var fromDate = $("#FromDate").val().replaceAll('/', '');

            var url = '/admin/report/showbc09?sourceTypeId={0}&userId={1}&fromDate={2}&toDate={3}&reporttype={4}';
            var url = url.format(sourceTypeId, userId, fromDate, toDate, '@((int)ReportType.Pdf)');
            $("#frame").attr("src", url);
        });
        
        $("#btnSave").click(function (e) {
            e.preventDefault();
            var userId = $('#UserId').val();
            var sourceTypeId = $('#SourceTypeId').val();
            var toDate = $("#ToDate").val().replaceAll('/', '');
            var fromDate = $("#FromDate").val().replaceAll('/', '');

            var url = '/admin/report/showbc09?sourceTypeId={0}&userId={1}&fromDate={2}&toDate={3}&reporttype={4}';
            var url = url.format(sourceTypeId, userId, fromDate, toDate, '@((int)ReportType.Excel)');
            $("#frame").attr("src", url);
        });
    });
</script>
