@using TamoCRM.Core
@using TamoCRM.Domain.Groups
@using TamoCRM.Domain.SourceTypes
@using TamoCRM.Web.Framework.Users
@using TamoCRM.Domain.UserRole
@using TamoCRM.Domain.Channels
@using TamoCRM.Domain.Catalogs;

@model TamoCRM.Web.Mvc.Areas.Admin.Models.Reports.BC45Model
@{
    ViewBag.Title = "Báo cáo chất lượng contact theo mẫu quảng cáo";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    // Group
    var groups = (List<GroupInfo>)ViewBag.Groups;
    var user = UserContext.GetCurrentUser();
    var branchId = UserContext.GetDefaultBranch();
    if (user.GroupConsultantType != (int)GroupConsultantType.ManagerConsultant)
    {
        groups = groups.Where(c => c.LeaderId == UserContext.GetCurrentUser().UserID || c.GroupId == (int)ViewBag.GroupId).ToList();
    }

    ((List<GroupInfo>)groups).RemoveAll(c => c.GroupId == 0);
    //if (((List<GroupInfo>)groups).Count > 1)
    //{
    //    ((List<GroupInfo>)groups).Insert(0, new GroupInfo { GroupId = 0, Name = "Tất cả", BranchId = branchId, EmployeeTypeId = (int)EmployeeType.Consultant });
    //}

    groups = (List<GroupInfo>)groups.Where(c => c.BranchId == branchId).Where(c => c.EmployeeTypeId == (int)EmployeeType.Consultant).ToList();
    var lstGroups = new SelectList(((List<GroupInfo>)groups).Where(c => c.BranchId == branchId).Where(c => c.EmployeeTypeId == (int)EmployeeType.Consultant), "GroupId", "Name");

    // User
    var users = ViewBag.Users;
    // User
    ((List<UserInfo>)users).RemoveAll(c => c.GroupId == 0);
    ((List<UserInfo>)users).Insert(0, new UserInfo { UserID = 0, FullName = "Tất cả" });
    var lstUsers = new SelectList(users, "UserID", "FullName");


    // SourceType
    var sourceTypes = ViewBag.SourceTypes;
    ((List<SourceTypeInfo>)sourceTypes).RemoveAll(c => c.SourceTypeId == 0);
    ((List<SourceTypeInfo>)sourceTypes).Insert(0, new SourceTypeInfo { SourceTypeId = 0, Name = "Tất cả" });
    var lstSourceTypes = new SelectList(sourceTypes, "SourceTypeId", "Name");
    
    //Channel
    var Channels = ViewBag.Channels;
    ((List<ChannelInfo>)Channels).RemoveAll(c => c.ChannelId == 0);
    ((List<ChannelInfo>)Channels).Insert(0, new ChannelInfo { ChannelId = 0, Name = "Tất cả" });
    var lstChannels = new SelectList(Channels, "ChannelId", "Name");    
    
    //TemplateAds
    var TemplateAds = ViewBag.ListTemplateAds;
    ((List<TemplateAdsInfo>)TemplateAds).RemoveAll(c => c.Id == 0);
    ((List<TemplateAdsInfo>)TemplateAds).Insert(0, new TemplateAdsInfo { Id = 0, Name = "Tất cả" });
    var lstTemlateAds = new SelectList(TemplateAds, "Id", "Name");    
}
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed');
        } catch (e) { }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="#">Trang chủ</a>
        </li>

        <li>
            <a href="javascript:void(0);">Danh mục</a>
        </li>
        <li class="active">Báo cáo chất lượng contact theo mẫu quảng cáo</li>
    </ul>
</div>

<div class="page-content">
    <div class="page-header">
        <h1>Báo cáo chất lượng contact theo mẫu quảng cáo
        </h1>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-12" id="alert">
            </div>
        </div>
        <div class="col-xs-12">
            @using (Ajax.BeginForm("BC45", "Report", new AjaxOptions { HttpMethod = "POST" }, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form", id = "uploadexcelform" }))
            {
                @Html.AntiForgeryToken()
                
                <div class="row">
                        <label class="col-sm-1 control-label no-padding-right" style="text-align: left !important;" for="form-field-2">Kênh</label>
                        <div class="col-sm-3">
                            @Html.DropDownList("Channel", lstChannels, new { @class = "form-control" })                                                  
                        </div>
                </div>
                <div class="space-6"></div>
                <div class="row">                    
                    <label class="col-sm-2 control-label no-padding-right" style="text-align: left !important;" for="form-field-2">Mẫu quảng cáo</label>
                    <div class="col-sm-2">
                        @Html.DropDownList("TemplateAds", lstTemlateAds, new { @class = "form-control" })
                    </div>
                </div>
                <div class="space-6"></div>
                <div class="row">
                    <label class="col-sm-2 control-label no-padding-right" style="text-align: left !important;" for="form-field-2">Ngày bàn giao</label>
                   
                    <div id="divDay">
                        <div id="divDayFrom">
                            <label class="col-sm-1 control-label no-padding-right" style="text-align: left !important;" for="form-field-2" id="lblHandoverFromDate">Từ ngày</label>
                            <div class="col-sm-2">
                                @Html.TextBox("HandoverFromDate", string.Empty, new { @class = "form-control" })
                            </div>
                        </div>
                        <div id="divDayTo">
                            <label class="col-sm-1 control-label no-padding-right" style="text-align: left !important;" for="form-field-3">Đến ngày </label>
                            <div class="col-sm-2">
                                @Html.TextBox("HandoverToDate", string.Empty, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-6"></div>
                <div class="row">
                    <label class="col-sm-2 control-label no-padding-right" style="text-align: left !important;" for="form-field-2">Ngày đăng ký</label>
                   
                    <div id="divDay">
                        <div id="divDayFrom">
                            <label class="col-sm-1 control-label no-padding-right" style="text-align: left !important;" for="form-field-2" id="lblHandoverFromDate">Từ ngày</label>
                            <div class="col-sm-2">
                                @Html.TextBox("RegisterFromDate", string.Empty, new { @class = "form-control" })
                            </div>
                        </div>
                        <div id="divDayTo">
                            <label class="col-sm-1 control-label no-padding-right" style="text-align: left !important;" for="form-field-3">Đến ngày </label>
                            <div class="col-sm-2">
                                @Html.TextBox("RegisterToDate", string.Empty, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-6"></div>
                <div class="row">
                    <div class="col-sm-5">
                        <button type="button" class="btn-import btn-primary" id="btnReport">Xuất báo cáo</button>
                        <button type="button" class="btn-import btn-primary" id="btnSave">Tải về</button>
                    </div>
                    <div class="col-sm-7">
                    </div>
                </div>
            }

            <div class="space-6"></div>
            <div id="mydiv">
                <iframe id="frame" style="width: 100%; height: 400px; border: none;"></iframe>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#HandoverToDate").datepicker({ format: 'dd/mm/yyyy', autoclose: true, endDate: "+0d" });
        $("#HandoverFromDate").datepicker({ format: 'dd/mm/yyyy', autoclose: true, endDate: "+0d" });
        $("#RegisterFromDate").datepicker({ format: 'dd/mm/yyyy', autoclose: true, endDate: "+0d" });
        $("#RegisterToDate").datepicker({ format: 'dd/mm/yyyy', autoclose: true, endDate: "+0d" });

        $("#btnReport").click(function (e) {

            var channelId = $("#Channel").val();
            var templateAds = $("#TemplateAds").val();
            var handoverFromDate = $("#HandoverFromDate").val() === undefined ? 0 : $('#HandoverFromDate').val().replaceAll('/', '');
            var handoverToDate = $("#HandoverToDate").val() === undefined ? 0 : $('#HandoverToDate').val().replaceAll('/', '');
            var registerFromDate = $("#RegisterFromDate").val() === undefined ? 0 : $('#RegisterFromDate').val().replaceAll('/', '');
            var registerToDate = $("#RegisterToDate").val() === undefined ? 0 : $('#RegisterToDate').val().replaceAll('/', '');

            var url = '/admin/report/showbc45?handoverFromDate={0}&handoverToDate={1}&registerFromDate={2}&registerToDate={3}&channelId={4}&templateAds={5}&reportType={6}';
            var url = url.format(handoverFromDate, handoverToDate, registerFromDate, registerToDate, channelId, templateAds, '@((int)ReportType.Pdf)');

            $("#frame").attr("src", url);
        });

        $("#btnSave").click(function (e) {

            var channelId = $("#Channel").val();
            var templateAds = $("#TemplateAds").val();
            var handoverFromDate = $("#HandoverFromDate").val() === undefined ? 0 : $('#HandoverFromDate').val().replaceAll('/', '');
            var handoverToDate = $("#HandoverToDate").val() === undefined ? 0 : $('#HandoverToDate').val().replaceAll('/', '');
            var registerFromDate = $("#RegisterFromDate").val() === undefined ? 0 : $('#RegisterFromDate').val().replaceAll('/', '');
            var registerToDate = $("#RegisterToDate").val() === undefined ? 0 : $('#RegisterToDate').val().replaceAll('/', '');

            var url = '/admin/report/showbc45?handoverFromDate={0}&handoverToDate={1}&registerFromDate={2}&registerToDate={3}&channelId={4}&templateAds={5}&reportType={6}';
            var url = url.format(handoverFromDate, handoverToDate, registerFromDate, registerToDate, channelId, templateAds, '@((int)ReportType.Excel)');

            $("#frame").attr("src", url);
        });
    });
</script>
