@using TamoCRM.Core
@using TamoCRM.Domain.Catalogs
@using TamoCRM.Domain.Levels
@using TamoCRM.Domain.StatusMap
@using TamoCRM.Web.Framework

@model TamoCRM.Web.Mvc.Areas.Admin.Models.Contacts.ContactCreateModel

@{
    ViewBag.Title = "Danh sách contact TVTS";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var lstLevels = (List<LevelInfo>)ViewBag.LevelWithContactCount;

    //Product List
    var product = ViewBag.Products;
    ((List<ProductInfo>)product).RemoveAll(c => c.Id == 0);
    ((List<ProductInfo>)product).Insert(0, new ProductInfo { Id = 0, Name = "Tất cả" });
    var lstProducts = new SelectList(product, "Id", "Name");

    //Qualities List
    var Qualities = ViewBag.Quality;
    ((List<QualityInfo>)Qualities).RemoveAll(c => c.Id == 0);
    ((List<QualityInfo>)Qualities).Insert(0, new QualityInfo { Id = 0, Name = "Tất cả" });
    var lstQualities = new SelectList(Qualities, "Id", "Name");

    //StatusMaps List
    var StatusMaps = ViewBag.StatusMaps;
    ((List<StatusMapInfo>)StatusMaps).RemoveAll(c => c.Id == 0);
    ((List<StatusMapInfo>)StatusMaps).Insert(0, new StatusMapInfo { Id = 0, Name = "Tất cả" });
    var lstStatusMaps = new SelectList(StatusMaps, "Id", "Name");

    //StatusCares List
    var StatusCares = ViewBag.StatusCares;
    ((List<StatusCareInfo>)StatusCares).RemoveAll(c => c.Id == 0);
    ((List<StatusCareInfo>)StatusCares).Insert(0, new StatusCareInfo { Id = 0, Name = "Tất cả" });
    var lstStatusCares = new SelectList(StatusCares, "Id", "Name");

}

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed');
        }
        catch (e) {

        }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="#">Trang chủ</a>
        </li>

        <li>
            <a href="javascript:void(0);">Danh mục</a>
        </li>
        <li class="active">Contact</li>
    </ul>
</div>

<div class="page-content">
    <div class="page-header">
        <h1>@ViewBag.Title</h1>
    </div>
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            @using (Ajax.BeginForm("FilterContactSearchAdvance", "Contact", new AjaxOptions { HttpMethod = "POST" }, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form", id = "filter_contact_search_advance" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-sm-12" id="alert">
                    </div>
                </div>
                <div style="border-bottom: 1px solid #c5d0dc; padding: 0 0 15px 0;">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="bolder">Level</label>
                        </div>
                        <div class="col-sm-1" style="width: 11.3%;">
                            <input type="checkbox" id='chkLevels' checked />
                            <label>Tất cả (@lstLevels.Sum(c => c.ContactCount))</label>
                        </div>
                        @foreach (var item in lstLevels)
                        {
                            if (item.LevelId <= 10)
                            {
                            <div class="col-sm-1" style="width: 9%;">
                                <input type="checkbox" name='chkLevels' id='@(item.LevelId)_chkLevel' />
                                <label for="@(item.LevelId)_chkLevel">@item.Name (@item.ContactCount)</label>
                            </div>
                            }
                        }
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="bolder">Chất lượng cuộc gọi</label>
                        </div>
                        <div class="col-sm-2">
                            @Html.DropDownList("ddlQuality", lstQualities, new { @style = "width: 100%;" })
                        </div>
                        <div class="col-sm-2">
                            <label class="bolder">Định bán</label>
                        </div>
                        <div class="col-sm-2">
                            @Html.DropDownList("ddlProductSellId", lstProducts, new { @style = "width: 100%;" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="bolder">Trạng thái chăm sóc</label>
                        </div>
                        <div class="col-sm-2">
                            @Html.DropDownList("ddlStatusCare", lstStatusCares, new { @style = "width: 100%;" })
                        </div>
                        <div class="col-sm-2">
                            <label class="bolder">Ngày bàn giao</label>
                        </div>
                        <div class="col-sm-2">
                            @Html.TextBox("HandoverFromDate", string.Empty, new { @style = "width: 100%;" })
                        </div>
                        <div class="col-sm-1">
                            <label class="bolder">Đến ngày</label>
                        </div>
                        <div class="col-sm-2">
                            @Html.TextBox("HandoverToDate", string.Empty, new { @style = "width: 90%;" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="bolder">Trạng thái gọi</label>
                        </div>
                        <div class="col-sm-2">
                            @Html.DropDownList("ddlStatusMap", lstStatusMaps, new { @style = "width: 100%;" })
                        </div>
                        <div class="col-sm-2">
                            <label class="bolder">Ngày gọi gần nhất</label>
                        </div>
                        <div class="col-sm-2">
                            @Html.TextBox("CallFromDate", string.Empty, new { @style = "width: 100%;" })
                        </div>
                        <div class="col-sm-1">
                            <label class="bolder">Đến ngày</label>
                        </div>
                        <div class="col-sm-2">
                            @Html.TextBox("CallToDate", string.Empty, new { @style = "width: 90%;" })
                        </div>
                    </div>
                    <div class="space-6"></div>
                </div>
            }

            <div class="space-6"></div>
                @*<button id="btnInDanhSach" class="btn-primary" style="width: 100px; margin-left: 900px;">In Danh Sách</button>&nbsp;*@
                <button id="btnGoFilter" class="btn-primary" style="float: right; width: 100px;">Lọc Contact</button>
            <div class="clearfix"></div>

            <div class="space-6"></div>
            <table id="grid-table"></table>
            <div id="grid-pager"></div>

            <!-- PAGE CONTENT ENDS -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>

<script type="text/javascript">
    var grid_selector = "#grid-table";
    var employeeTypeId = '@((int)EmployeeType.Consultant)';
    var url = 'admin/api/contact/FilterSearchAdvance?statusMapId={0}&statusCareId={1}&levelIds={2}&handoverFromDate={3}&handoverToDate={4}&callFromDate={5}&callToDate={6}&qualityId={7}&productSellId={8}&employeeTypeId=' + employeeTypeId;
    var heades = ['Id', 'Họ và tên', 'Level', 'Email', 'Điện thoại', 'Ngày', 'Sáng/Chiều', 'Giờ', 'Nội dung cuộc gọi gần nhất', 'Ngày gọi', 'Trạng thái chăm sóc', 'Định bán', 'Tổng số cuộc gọi', 'Chức năng'];
    var model = [
        { name: 'Id', index: 'Id', editable: false, sorttype: 'string', editoptions: { disabled: true }, width: '0px' },
        { name: 'Fullname', index: 'Fullname', editable: false, width: '110px', sorttype: 'string' },
        { name: 'LevelId', index: 'LevelId', editable: false, width: '40px', sorttype: 'string', align: 'center', formatter: levelFomatter },
        { name: 'Email', index: 'Email', editable: false, width: '140px', sorttype: 'string', align: 'center' },
        { name: 'Mobile1', index: 'Mobile1', editable: false, width: '100px', sorttype: 'string', align: 'center' },
        { name: 'AppointmentConsultantDate', index: 'AppointmentConsultantDate', editable: false, width: '80px', align: 'center', formatter: 'date', formatoptions: { srcformat: 'Y-m-dTH:i:s', newformat: 'd/m/Y' } },
        { name: 'AppointmentConsultantAmPm', index: 'AppointmentConsultantDate', editable: false, width: '50px', align: 'center', formatter: stringFormatter },
        { name: 'AppointmentConsultantTimeString', index: 'AppointmentConsultantTimeString', editable: false, width: '50px', align: 'center', formatter: stringFormatter },
        { name: 'CallInfoConsultant', index: 'CallInfoConsultant', editable: false, width: '200px', sorttype: 'string', align: 'left' },
        { name: 'CallConsultantDate', index: 'CallConsultantDate', editable: false, width: '80px', align: 'center', formatter: 'date', formatoptions: { srcformat: 'Y-m-dTH:i:s', newformat: 'd/m/Y' } },
        { name: 'StatusCareConsultantId', index: 'StatusCareConsultantId', editable: false, width: '120px', formatter: statusCareFomatter },
        { name: 'ProductSellId', index: 'ProductSellId', editable: false, width: '50px', formatter: productFomatter },
        { name: 'CallAmount', index: 'CallAmount', editable: false, width: '40px', align: 'center' },
        {
            name: 'Function', index: 'Function', editable: false, width: '40px', align: 'center', formatter: "dynamicLink",
            formatoptions: {
                cellValue: function (cellValue, rowId, rowData, options) {
                    var groupType = '@ViewBag.GroupType';
                    if (groupType == '@((int)GroupConsultantType.ManagerConsultant)') {
                        return '<div style="color:#34810c;margin:5px; float:left;"><a style="cursor: pointer;" onclick="return openDialog(' + rowData.Id + ')"><img style="width:16px; height:16px;" src="../../../../Images/edit-16.png"/></a></div>' +
                            '<div style="clear: both;"></div>';
                    } else {
                        return '<div style="color:#34810c;margin:5px;"><a style="cursor: pointer;" onclick="return openDialog(' + rowData.Id + ')"><img style="width:16px; height:16px;" src="../../../../Images/edit-16.png"/></a></div>';
                    }
                }
            }
        }
    ];

        function deleteClick(id) {
            var r = confirm("Có phải bạn muốn xóa contact này?");
            if (r == true) {
                var newUrl = "/admin/api/contact/delete/{0}".format(id);
                $.ajax({
                    type: 'GET',
                    url: newUrl,
                    success: function (data) {
                        jQuery(grid_selector).jqGrid().trigger("reloadGrid");
                    },
                    error: function (request, status, ex) {
                        $("#alert").addClass("alert alert-block alert-error");
                        $("#alert").html("Xóa contact không thành công.");
                    }
                });
            }
            return false;
        }

        $(document).ready(function () { 
            bindGlobalProducts();
            var levelIds = $('#chkLevels').is(':checked') ? '' : buildParamLevels();
            
            loadStatusMapByLevel(levelIds, employeeTypeId);

            $('#CallToDate').datepicker({ format: 'dd/mm/yyyy', autoclose: true, dateonly: true, endDate: "+0d" });
            $('#CallFromDate').datepicker({ format: 'dd/mm/yyyy', autoclose: true, dateonly: true, endDate: "+0d" });
            $('#HandoverToDate').datepicker({ format: 'dd/mm/yyyy', autoclose: true, dateonly: true, endDate: "+0d" });
            $('#HandoverFromDate').datepicker({ format: 'dd/mm/yyyy', autoclose: true, dateonly: true, endDate: "+0d" });

            //var newUrl = url.format(0, 0, '', '', '', '', '', 0, 0);
            var newUrl = url.format(0, 0, '', '', '', '', '', 0, 0);
            setupGridWithHeight("#grid-table", "#grid-pager", '', "admin/api/contact/edit", "Id", "Danh sách Contact", heades, model, 'GET', '100%');
            $(grid_selector).jqGrid("setGroupHeaders", {
                useColSpanStyle: true,
                groupHeaders: [
                    { startColumnName: "Fullname", numberOfColumns: 4, titleText: '<table style="width:100%;border-spacing:0px;"><tr><td style="text-align:center;height:40px;"><b>Thông tin Contact</b></td></tr></table>' },
                    { startColumnName: "AppointmentConsultantDate", numberOfColumns: 3, titleText: '<table style="width:100%;border-spacing:0px;"><tr><td style="text-align:center;"><b>Thông tin lịch hẹn gọi lại</b></td></tr></table>' },
                    { startColumnName: "CallInfoConsultant", numberOfColumns: 2, titleText: '<table style="width:100%;border-spacing:0px;"><tr><td style="text-align:center;"><b>Tình trạng chăm sóc</b></td></tr></table>' }
                ]
            });
            $.ajax({
                url: '/admin/LogLoad/SaveEndLoadDashBoard',
                type: 'GET',
                data: {
                    time: Date.now,
                    contactid: 0,
                    name: "END_LOAD_DANH_SACH_CONTACT_TVTS",
                    createdby: '@ViewBag.UserId',
                    timebegin: '@ViewBag.TimeBegin',
                    session: '@ViewBag.SessionLog'
                },
                success: function () {

                }
            });
        });

        $("#btnGoFilter").click(function (e) {
            e.preventDefault();
            // Param
            var qualityId = $('#ddlQuality').val();
            var statusMapId = $('#ddlStatusMap').val();
            var statusCareId = $('#ddlStatusCare').val();
            var productSellId = $('#ddlProductSellId').val();
            var callToDate = $('#CallToDate').val().replaceAll('/', '');
            var callFromDate = $('#CallFromDate').val().replaceAll('/', '');
            var handoverToDate = $('#HandoverToDate').val().replaceAll('/', '');
            var handoverFromDate = $('#HandoverFromDate').val().replaceAll('/', '');
            var levelIds = $('#chkLevels').is(':checked') ? '' : buildParamLevels();
            
            // Format Url
            var newUrl = '/' + url.format(statusMapId, statusCareId, levelIds, handoverFromDate, handoverToDate, callFromDate, callToDate, qualityId, productSellId);
            jQuery(grid_selector).jqGrid().setGridParam({ url: newUrl, page: 1 }).trigger("reloadGrid");
        });

        $("#btnInDanhSach").click(function (e) {
            fnExcelReport();
        });

        function fnExcelReport() {
            var tab_text = "<table border='2px'><tr><th>STT</th><th></th><th>Họ Tên</th><th>Level</th><th>Email</th><th>Điện thoại</th><th>Ngày gọi lại</th><th>Sáng chiều</th><th>Giờ</th><th>Nội dung cuộc gọi gần nhất</th><th>Ngày gọi</th><th>Trạng thái chăm sóc</th><th>Định bán</th><th>Tổng số cuộc gọi</th></tr>";
            tab_text += "<tr bgcolor='#87AFC6'>";
            var textRange; var j = 0;
            tab = document.getElementById('grid-table'); // id of table
            for (j = 0 ; j < tab.rows.length ; j++) {
                tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
                //tab_text=tab_text+"</tr>";
            }

            tab_text = tab_text + "</table>";
            tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
            tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
            tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");

            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
            {
                txtArea1.document.open("txt/html", "replace");
                txtArea1.document.write(tab_text);
                txtArea1.document.close();
                txtArea1.focus();
                sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
            }
            else                 //other browser not tested on IE 11
                sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));
            return (sa);
        }
 
        // StatusCare
        $("#ddlStatusCare").change(function () {
            var levelIds = $('#chkLevels').is(':checked') ? '' : buildParamLevels();
            loadStatusMapByLevel(levelIds, employeeTypeId);
        });

        $('#chkLevels').change(function () {
            if ($('#chkLevels').is(':checked')) {
                var elements = document.getElementsByName('chkLevels');
                for (var i = 0; i < elements.length; i++) {
                    $(elements[i]).attr('checked', false);
                }
                var levelIds = $('#chkLevels').is(':checked') ? '' : buildParamLevels();
                loadStatusMapByLevel(levelIds, employeeTypeId);
            }
        });
        $('input[name="chkLevels"]').change(function () {
            $('#chkLevels').attr('checked', false);
            var levelIds = $('#chkLevels').is(':checked') ? '' : buildParamLevels();
            loadStatusMapByLevel(levelIds, employeeTypeId);
        });
</script>
